[submodule "Team10"]
	path = Breakout
	url = https://github.com/AlvinJIa/Team10.git
	branch = dev
[submodule "Iteration1"]
	path = Iteration1
	url = https://github.com/AlvinJIa/Team10.git
[submodule "Iteration2.01"]
	path = Iteration2.01
	url = https://github.com/AlvinJIa/Team10.git
[submodule "Iteration2.02"]
	path = Iteration2.02
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration2.02
[submodule "Iteration2.03"]
	path = Iteration2.03
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration2.03
[submodule "Iteration3"]
	path = Iteration3
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration3
