[submodule "Team10"]
	path = Breakout
	url = https://github.com/AlvinJIa/Team10.git
	branch = dev
[submodule "Iteration1"]
	path = Iteration1
	url = https://github.com/AlvinJIa/Team10.git
[submodule "Iteration2.01"]
	path = Iteration2.01
	url = https://github.com/AlvinJIa/Team10.git
[submodule "Iteration2.02"]
	path = Iteration2.02
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration2.02
[submodule "Iteration2.03"]
	path = Iteration2.03
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration2.03
[submodule "Iteration3"]
	path = Iteration3
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration3
[submodule "Iteration3.01"]
	path = Iteration3.01
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration3.01
[submodule "Iteration4"]
	path = Iteration4
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration4
[submodule "Iteration4.01"]
	path = Iteration4.01
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration4.01
[submodule "Iteration4.00"]
	path = Iteration4.00
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration4.00
[submodule "Iteration5"]
	path = Iteration5
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration5
[submodule "Iteration5.01"]
	path = Iteration5.01
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration5.01
[submodule "Iteration6"]
	path = Iteration6
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration6
[submodule "Iteration4.02"]
	path = Iteration4.02
	url = https://github.com/AlvinJIa/Team10.git
	branch = Iteration4.02
